{% extends "base.html" %} 
{% block content %}
<div
	class="product-page"
	style="max-width: 700px; margin: 100px auto 40px; padding: 0 16px"
>
	<h1 class="product-title">
		{% if object %} 
			Редактировать исполнителя 
		{% else %}
			Создать исполнителя
		{% endif %}
	</h1>
	<div class="card" style="padding: 16px">
		<form method="post">
				{% csrf_token %}
				{{ form.non_field_errors }} 
				{% include 'includes/form_field.html' with field=form.artist_name %} 
				{% include 'includes/form_field.html' with field=form.country %}
				<button class="add-to-cart-btn" type="submit">Сохранить</button>
				<a class="add-to-cart-btn" href="{% url 'artist-list' %}">Отмена</a>
		</form>
	</div>
</div>
{% endblock %}